<div class="modal-header">
  <pichincha-typography
    variant="bodyText"
    color="blue"
    weight="normal"
    weight_color="500"
    align="inherit"
  >
    {{title}}
  </pichincha-typography>
  <button id="" type="button" class="close" aria-label="Close" (click)="close()">&times;</button>
</div>

<div class="modal-footer justify-content-around row w-100  m-0">

  <div class="col-5">
    <pichincha-button
      (click)="setResult(false)"
      size="medium"
      color="secondary">
      Cancelar
    </pichincha-button>
  </div>
  <div class="col-5 ">
    <pichincha-button
      (click)="setResult(true)"
      size="medium"
      color="primary">
      Aceptar
    </pichincha-button>
  </div>


</div>
